<ion-header [collapse]="hasIos ? 'condense': 'fade'" [translucent]="!hasIos">
  <ion-toolbar color="primary">
    <div>

      <figure class="ion-margin-start">
        <ion-img src="./../../assets/layout.svg" class="cursor-pointer" routerLink="/inicio" routerDirection="forward" alt="Montes belos"
          title="www.montesbelos.app"></ion-img>
      </figure>

      <span class="ion-icon" (click)="menuShow($event)" title="Menu"
        data-message="Botão de menu">
        <ion-icon size="large" slot="end" name="options" color="medium"></ion-icon>
      </span>

    </div>
  </ion-toolbar>
</ion-header>

<app-breadcrumbs></app-breadcrumbs>
