<ion-header class="ion-no-border ion-margin-bottom" [collapse]="hasIos ? 'condense': 'fade'" [translucent]="hasIos">
  <ion-toolbar color="light">
    <ion-breadcrumbs>
      <ion-breadcrumb *ngFor="let breadcrumb of (breadcrumbs$ | async)"
      [href]="breadcrumb.url"
      [rel]="breadcrumb.label"
      routerDirection="forward"
      [title]="breadcrumb.label">
        {{ breadcrumb.label }}
        <!-- <br>
        {{ breadcrumb | json }} -->
        <ion-icon slot="separator" name="chevron-forward-outline"></ion-icon>
      </ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>
