<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>

    <div *ngIf="!desable; else Message">

      <app-form
      (submitDataForm)="onSubmit($event)"
      (exportForm)="importForm($event)"
      [inputConfig]="config"
      [attrButton]="attrButton"></app-form>

    </div>

    <ng-template #Message>

      <app-requisition-limit [time]="time" [route]="activeRoute" (desable)="setDesable($event)"></app-requisition-limit>

    </ng-template>

    <app-system-access-page-buttons [dataButtons]="attrButtonPage" [router]="activeRoute"></app-system-access-page-buttons>

  </ion-grid>
</ion-content>
