ion-item {
  --background: rgba(var(--ion-color-primary-rgb), 1);

  &.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.970);
  }

  &:hover {
    --background: rgba(var(--ion-color-primary-rgb), 0.970);
  }

  ion-label {
    --color: var(--ion-color-light);
  }

  ion-icon {
    color: var(--ion-color-light);
  }
}
