<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>


   <div class="container ion-margin-vertical">


      <div (click)="addAvatar()" title="Adicionar imagem.">
        <ion-avatar>
          <ion-img [src]="avatar" alt="Avatar"></ion-img>
        </ion-avatar>
        <ion-icon color="medium" size="large" name="camera">
        </ion-icon>
      </div>

      <!-- <ion-chip *ngIf="user?.image?.filename" title="Deletar imagem" slot="end" (click)="destroy(user)">
              <ion-label>Excluir</ion-label>
              <ion-icon name="trash"></ion-icon>
            </ion-chip> -->
    </div>


    <ion-item-group>
      <ion-item-divider>
        <ion-icon color="mediun" name="person" slot="start"></ion-icon>
        <ion-label>Administração do usuário</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Status</ion-label>
        <ion-toggle slot="end" (ionChange)="toggleState()" [checked]="status"></ion-toggle>
        <ion-icon slot="start" [name]="status ? 'eye': 'eye-off'"></ion-icon>
      </ion-item>

      <ion-item detail="true" button>
        <ion-icon name="create" slot="start"></ion-icon>
        <ion-label>Nome</ion-label>
      </ion-item>

      <ion-item detail="true" button>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Email</ion-label>
      </ion-item>

      <ion-item detail="true" button>
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-label>Senha</ion-label>
      </ion-item>
    </ion-item-group>

  </ion-grid>
</ion-content>
