<app-header-component></app-header-component>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <div *ngIf="active; else Message">

      <app-form
        (submitDataForm)="onSubmit($event)"
        (exportForm)="importForm($event)"
        [inputConfig]="user"
        [attrButton]="attrButton"
      ></app-form>

    </div>
    <ng-template #Message>
      <ion-card>
        <ion-card-header>
          <ion-card-title> &#x231B; Atenção ! </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-margin-top">
          <div *ngIf="message; else Empty">{{ message }}</div>
          <ng-template #Empty>
            O tempo maxímo para redefinir sua senha e de 10 minutos após o envio
            do email.<br />
          </ng-template>
          Tente novamente.

          <ion-button
            expand="block"
            color="primary"
            [routerLink]="['/recuperar-senha']"
            routerDirection="forward"
            class="ion-margin-top"
          >
            <ion-icon class="ion-margin-end" name="key"></ion-icon> Recuperar
            senha
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-grid>
</ion-content>
