<ion-grid fixed>
  <ion-row>
    <ion-col>

      <ion-text class="ion-text-center">
        <p [style.color]="msgColor" class="no-margin-top">{{msg}}</p>
      </ion-text>

      <ul class="strengthBar">
        <li class="point" [style.background-color]="bar0"></li>
        <li class="point" [style.background-color]="bar1"></li>
        <li class="point" [style.background-color]="bar2"></li>
        <li class="point" [style.background-color]="bar3"></li>
      </ul>


      <ion-text color="medium">
        <p>Sua senha deve ter de 8 a 20 caracteres, conter letras maiúsculas e minúsculas, números, caracteres
          especiais ex: <mark> $-/:-?-~!"^]_@`[ </mark> e não deve conter espaços ou emoji.</p>
      </ion-text>


    </ion-col>
  </ion-row>
</ion-grid>
